.my-uploads-page {
  width: 100%;
}

.my-uploads-loading,
.my-uploads-error,
.my-uploads-empty {
  text-align: center;
  padding: 3rem 1rem;
  color: #666;
}

.my-uploads-error {
  color: #dc3545;
}

.my-uploads-page .search-bar-wrapper {
  margin-bottom: 2rem;
}

